@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  --purple: #8b5cf6; 
  --dark: #0f0f0f; 
  --gray: #a1a1aa; 
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--dark);
  max-width: 1200px;
  margin: 0 auto;
  color: var(--white);
}

/* HEADER */

header {
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  color: #8b5cf6;
  font-size: 2.5rem;
}

header span {
  color: #fff;
}

header .nav-primaria {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .nav-primaria li a {
  color: #fff;
  width: 0px;
  height: 0px;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}

header .nav-primaria li a::after {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-bottom: 4px solid transparent;
  transition: 0.9s;
}

header .nav-primaria li a:hover::after {
  width: 100%;
  height: 0px;
  padding: 0px;
  border-bottom: 4px solid var(--cor-primaria);
}

/* DOWNLOAD CV SECAO */

.section-div {
  animation: inicializar 0.7s forwards;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.section-div div {
  margin-top: 120px;
  align-self: start;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  gap: 15px;
}

.section-div h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #f7f7f7;
}

.section-div div p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: #f7f7f7;
}

.section-div div a {
  justify-content: center;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
}


.section-div div a:hover{
  background-color: var(--purple);
  cursor: pointer;
}

.section-div img {
  max-width: 90%;
  border-radius: 10%;
}

.digitando::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.5s infinite;
}

@keyframes pisca {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* SEÇÃO PRINCIPAL SOBRE MIM*/

main {
  background-color: var(--dark);
  color: white;
}

main .sobre {
  margin-top: 60px;
  display: grid;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}

.sobre_titulo {
  margin: 30px 0;
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.sobre_titulo h1 {
  font-size: 2.5rem;
  background: var(--purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.sobre_titulo p {
  color: #707070;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.sobre_titulo div {
  display: flex;
  gap: 10px;
  justify-content: center;
}


.sobre_conteudo {
  animation: sobeSecao 0.6s ease-in-out forwards;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sobre_texto {
 display: block;
 gap: 40px;
}

.sobre_texto h1 {
  font-size: 2.3rem;
  color: #fff;
  grid-column: 1/-1;
}

.sobre_texto h1::after {
  background-color: var(--cor-primaria);
  height: 6px;
  width: 60px;
  margin: 20px 0;
  content: "";
  display: block;
  border-radius: 5px;
}

.sobre_texto p {
  font-size: 1.3rem;
  grid-row: 2;
  grid-column: 1/-1;
}

.sobre_info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  gap: 15px;
  align-items: center;
}

.sobre_info i {
  color: var(--cor-texto-botoes);
  display: inline-block;
  font-size: 1.5rem;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}

.sobre_info p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sobre_info p a {
  color: inherit;
  text-decoration: none;
}

.sobre_info p a:hover {
  color: #bf00ff;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes sobeSecao {
  from {
    transition: 0.5s;
    transform: translate3d(60px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ladoSecao {
  from {
    transition: 0.5s;
    transform: translate3d(-60px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {
  .section-div img {
    display: none;
  }

  .section-div {
    background-image: url(img/Guilherme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    justify-content: space-between;
    padding: 30px 70px;
  }

  header .nav-primaria {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  header .nav-primaria.ativado {
    background: linear-gradient(
      rgba(43, 42, 42, 0.176),
      rgba(46, 46, 46, 0.724)
    );
    position: absolute;
    display: grid;
    top: 80px;
    color: white;
    z-index: 1;
    padding: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    right: 20px;
    animation: sobeSecao 0.8s ease-in-out forwards;
  }

  header i {
    color: #f7f7f7;
    font-size: 3rem;
  }

  .sobre img {
    grid-column: 1/-1;
    justify-self: center;
  }

  .sobre_conteudo {
    grid-column: 1/-1;
  }
}

/* SEÇÃO SERVICES */

.services {
  margin-top: -30px;
  padding: 60px;
  background-color: #151515;
}
#stack {
  display: grid;
  gap: 24px;
}
#stack div {
  background: #141414;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
}

#stack h4 {
  padding-bottom: 14px;
}

#stack ul {
  list-style: none;
}

#stack li {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 6px;
}
#stack i {
  font-size: 50px;
  color: var(--purple);
  margin-bottom: 6px;
}

/* RESUME SECTION */

.my_resume {
  color: white;
}

.resume_generico {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  align-items: start;
}

.resume_generico h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: --var(--cor-fundo-botoes);
  border: 1px solid --var(--cor-primaria);
  color: var(--cor-primaria);
  box-shadow: 0 0 10px rgba(191, 0, 255, 0.2);
  justify-self: start;
  padding: 10px;
  border-radius: 3px;
}

.resume_generico h2 i {
  margin-right: 10px;
}

.experience {
  margin-bottom: 30px;
  grid-column: 1;
  grid-row: 1;
}

.education {
  margin-bottom: 30px;
  grid-column: 2;
  grid-row: 1;
}

.experience_content ul {
  color: var(--cor-primaria);
  gap: 10px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.resume_generico .experience_content div {
  background-color: #222;
  animation: ladoSecao 0.5s ease-in-out forwards;
  display: none;
  padding: 40px;
  position: relative;
}

.resume_generico .experience_content div.ativo {
  display: block;
}

.resume_generico .experience_content div::before {
  content: "";
  border-right: 30px solid transparent;
  border-bottom: 30px solid #222;
  position: absolute;
  top: -20px;
  left: 30px;
  display: inline-block;
}

.resume_generico .experience_content div span {
  color: var(--cor-secundaria);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.resume_generico .experience_content div h3 {
  font-family: "Inter", sans-serif;
  margin: 10px 0;
}

.resume_generico .experience_content div h4 {
  font-family: "Inter", sans-serif;
  margin: 10px 0;
  font-size: 15px;
}

.resume_generico .experience_content div p {
  color: #b0b3b8;
  font-size: 1.1rem;
}

.experience_content ul li.ativo {
  color: #3e3d3d;
}

/* MEUS DIPLOMAS E CURSOS */

.resume_generico .education_content div {
  background-color: #222;
  padding: 40px;
  display: none;
  animation: ladoSecao 0.5s ease-in-out forwards;
  position: relative;
}

.education_content ul {
  color: var(--cor-primaria);
  gap: 10px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.resume_generico .education_content div::before {
  content: "";
  border-right: 30px solid transparent;
  border-bottom: 30px solid #222;
  position: absolute;
  top: -20px;
  left: 30px;
  display: inline-block;
}

.resume_generico .education_content div span {
  color: var(--cor-secundaria);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.resume_generico .education_content div h3 {
  font-family: "Inter", sans-serif;
  margin: 10px 0;
}

.resume_generico .education_content div p {
  color: #b0b3b8;
  font-size: 1.1rem;
}

.education_content ul li.ativo {
  color: #3e3d3d;
}

.resume_generico .education_content div.ativo {
  display: block;
}

/* SKILLS */

.cursos {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  padding: 30px;
  gap: 30px;
  justify-content: center;
}

.my_skill {
  display: grid;
}

.my_skill h2 {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: var(--cor-fundo-botoes);
  border: 1px solid var(--cor-primaria);
  color: var(--cor-primaria);
  box-shadow: 0 0 10px rgba(191, 0, 255, 0.2);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  justify-self: start;
}

.my_skill h2 i {
  padding-right: 10px;
}

.skill_content {
  font-size: 1.5rem;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 10px;
}

.skill_content h3 {
  font-size: 1.5rem;
}

.skill_content ul {
  display: flex;
}

/* FUN FACTS */

.funfacts {
  grid-column: 3/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.funfacts h2 {
  grid-column: 1/-1;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  background-color: var(--cor-fundo-botoes);
  border: 1px solid var(--cor-primaria);
  color: var(--cor-primaria);
  box-shadow: 0 0 10px rgba(191, 0, 255, 0.2);
  margin-bottom: 30px;
  justify-self: start;
}

.funfacts h2 i {
  padding-right: 10px;
}

.funfacts ul li {
  background-color: #222;
  border: 3px solid #2f2b2b;
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: start;
  width: 200px;
  height: 100px;
}

.funfacts ul li i {
  grid-row: 1/3;
  margin: auto;
  padding: 20px;
  font-size: 2rem;
  color: var(--cor-secundaria);
  border-right: 2px solid #3e3d3d;
}

.funfacts ul li span {
  font-size: 1.5rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.funfacts ul li p {
  padding-left: 10px;
  color: #707070;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1089px) {
  .resume_generico .experience_content,
  .education_content {
    justify-self: center;
    grid-column: 1/-1;
  }

  .resume_generico .education {
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
    margin: 30px 0;
  }
  .resume_generico .experience {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
  }

  .cursos {
    grid-template-columns: 1fr;
  }

  .cursos .funfacts h2 {
    justify-self: center;
  }

  .cursos .funfacts {
    margin-bottom: 30px;
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }

  .cursos .my_skill h2 {
    justify-self: center;
  }

  .cursos .funfacts {
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }
}

#projects {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 24px;
}

.projects h2 {
  text-transform: uppercase;
}

.project-card {
  background: #141414;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
}


.project-card h3{
  margin-bottom: 8px;
}

.project-card p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 16px;
}

.project-card a {
  display: inline-block;
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  transition: background 0.3s;
}

.project-card a:hover {
  background: var(--purple);
}

.project-card a i {
  margin-left: 5px;
  font-size: 14px; /* Ajuste o tamanho se quiser menor */
}


.project-card span{
  font-size: 25px;
}

.project-card i {
  font-size: 25px;
}

.tech-tags {
  font-size: 12px;
  color: var(--purple);
}

@keyframes animationImageButton {
  0% {
    opacity: 0;
    transform: translate3d(0, -90px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* FOOTER*/

footer {
  background-color: var(--dark);
  padding: 30px;
}

.footer_sociais {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  color: white;
}

.footer_sociais li {
  list-style: none;
}

.footer_sociais li a {
  width: 80px;
  height: 80px;
  background-color: #212020;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  transition: all 0.3s ease;
}

.footer_sociais li a i {
  font-size: 1.5rem;
}

.footer_sociais li:hover {
  transform: translateY(-4px);
  cursor: pointer;
  background-color: #3e3d3d;
}

.footer_sociais::before {
  content: "";
  height: 2px;
  width: 120px;
  position: absolute;
  bottom: -20px;
  background-color: #222;
}

footer .footer_comercial {
  text-align: center;
  color: #ffffff;
  margin: 40px auto 10px;
  font-size: 0.89rem;
  font-family: "Inter", sans-serif;
}
